@model embedded_auth_with_sdk.Models.MagicLinkCallbackModel
@{
    ViewBag.Title = ViewBag.Title;
}

<div class="row d-center">
    <div class="col-md-8">
        <h3>@Model.Message</h3>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
