@model direct_auth_idx.Models.SelectAuthenticatorMethodViewModel;
@{
    ViewBag.Title = ViewBag.Title ?? "Verify with your phone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}